#ignore thumbnails created by windows
Thumbs.db

#Ignore files in C# project

*.ico
Resources/
_UpgradeReport_Files/
Backup/
UpgradeLog.XML

#Ignore files build by Visual Studiox

*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
#ignore db created by visual studio
*.opensdf
*.sdf
#ignore precompiled header
*.ipch
#ignore lib/
lib/*
!lib/readme.txt
